name: klik
description: A new Flutter project.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"


dependencies:
  flutter:
    sdk: flutter


  # The following adds t
  cupertino_icons: ^1.0.2
  provider:
  http:
  shared_preferences: ^2.0.15
  flutter_spinkit: ^5.1.0
  intl: ^0.17.0
  flutter_credit_card: ^3.0.1
  uuid: ^3.0.6
  webview_flutter: ^3.0.4
  flutter_webview_plugin: ^0.4.0
  internet_connection_checker: ^0.0.1+4

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^1.0.0


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/images/icons/



 
  fonts:
    - family: SplineSans
      fonts:
        - asset: fonts/SplineSans-VariableFont_wght.ttf

  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
